@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --cl-primary: hsl(0, 0%, 100%);
    --cl-accent: hsl(334, 63%, 48%);
    --bg-primary: hsl(329, 46%, 24%);
    --bg-primary-hover: hsl(329, 46%, 20%);
    --bg-secondary: hsl(332, 70%, 25%);
    --bg-secondary-accent-lighter: hsl(332, 67%, 35%);
    --bg-secondary-accent-darker: hsl(332, 67%, 32%);
    --fs-primary: 16px;
    --fs-small: 14px;
    --fs-big: 24px;
    --fs-bigger: 30px;
    --fs-biggest: 40px;
    --lh-primary: 1.5;
    --br-primary: 8px;
    --duration: 250ms;
    --toastify-color-warning: var(--cl-accent) !important;
  }

  button,
  input,
  select {
    outline: none;
  }

  input[type="date"],
  select {
    appearance: none;
    cursor: pointer;
  }

  input::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
  }
}

.Toastify__toast-container {
  width: max-content !important;
}

@media screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 100dvw !important;
  }
}
